.game-card {
  width: 160px;
  height: 320px;
  background: transparent;
  margin: 5px;

  .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .text {
    font-size: 12px;
  }

  &_body {
    padding: 1.25rem 0.2rem 0.2rem 0.5rem;
  }
}
