.header {
  background-color: #18181b;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-side,
  .right-side {
    display: flex;
    align-items: center;
  }

  .middle-side {
    margin-right: auto;
    margin-left: 50px;
  }

  .right-side {
    .user-icon {
      border: 2px solid transparent;
      border-radius: 50%;
      transition: all var(--animation-transition);

      &:hover {
        border: 2px solid var(--color-white);
      }
    }

    .user-icon {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }

    .notification-icon {
      margin: 0 5px;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }

    .auth-btns {
      .btn {
        margin: 0 2px;
      }
    }
  }

  * {
    color: var(--color-white) !important;
  }

  .search-bar {
    width: 350px;
  }

  .menu {
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 50px;

    .link {
      padding: 13px 0.5rem 0 0.5rem;
      height: 100%;
      padding-top: 13px;

      &_active {
        border-bottom: 2px solid var(--color-main);
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
