.events-wrapper {
  display: flex;
  flex-wrap: wrap;

  .event {
    width: 350px;
    margin: 5px 10px;
    background-color: transparent;

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 170px;
    }

    img {
      width: 100%;
      height: 165px;
    }

    .badge-success {
      background-color: #28a745;
    }

    .badge {
      font-size: 11px;
      position: absolute;
      top: -16px;
      right: -20px;
    }

    .event-title {
      position: relative;
    }

    p {
      margin-bottom: 2px;
      font-size: 14px;
    }
  }
}
