button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.badge {
  background-color: #323234;
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 0;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

input,
select {
  background-color: #3a3a3c !important;
  border-color: #3a3a3c !important;
  box-shadow: none;
  color: white !important;

  &:focus {
    border-color: var(--color-main) !important;
    box-shadow: none !important;
  }
}

.loader-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outline-btn {
  border-color: var(--color-main) !important;
  cursor: pointer;
  color: white;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--color-main) !important;
    box-shadow: none;
    border-color: var(--color-main);
    color: white;
  }
}

.full-btn {
  margin: 0 10px;
  background-color: var(--color-main);
  border-color: var(--color-main);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--color-main-lighter) !important;
    border-color: var(--color-main) !important;
  }
}

.auth-form-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 60px);
  align-items: center;

  input {
    margin-bottom: 10px;
  }

  button {
    margin-top: 10px;
    width: 100%;
  }

  .auth-form-title {
    margin-bottom: 40px;
  }
}
