button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.categories .badge {
  background-color: #323234;
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 0;
}
