:root {
  --color-white: #fff;
  --color-background: #0e0e10;
  --color-main: #9147ff;
  --color-main-lighter: #a76efc;
  --color-main-darker: #624591;
  --color-gray: #3a3a3d;
  --color-green: #35a847;
  --color-red: #dc3545;

  --animation-transition: 0.3s;
}

body {
  height: 100vw;
  background-color: var(--color-background) !important;
  color: var(--color-white) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
